{% extends "fishing_books/base.html" %}

{% block header %}
  <h2>{{ storage }}</h2>
{% endblock header %}

{% block content%}
<p>
  <a href="{% url 'fishing_books:new_comment' storage.id %}">添加笔记</a>
</p>
  {% for comment in comments %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>{{ comment.date_added|date:'Y-m-d, H:i:s' }}
         <small><a href="{% url 'fishing_books:edit_comment' comment.id %}">
                  编辑笔记</a>
         </small>
        </h5>
      </div>
      <div class="panel-body">{{ comment.text|linebreaks }}</div>
    </div><!-- panel  -->
  {% empty %}
    你对本书有什么体会？请留下你的记录吧！
  {% endfor %}
{% endblock content%}

<!--
M英文月份  m数字月份
-->
